<div class="card card-body">
  <h3>the elements want to add</h3>
  <form action="/ideas" method="post">
    <div class="form-group">
      <label for="title">title</label>
      <input type="text" class="form-control" name="title" value="{{title}}" >
    </div>
    <div class="form-group">
      <label for="details">details</label>
      <textarea class="form-control" name="details" >{{details}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">hand in</button>
  </form>
</div>