<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">this is the basic structure of our project</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">add new element</a>
</div>